@import "./commons.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: $Montserrat;
    height: 100%;
    width: 100%;
    //color: $dark;
    //background: #222;
    background: whitesmoke;
}

#root {
    height: 100%;
}