@import "../commons.scss";

.container {
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include transition(margin-left);
    margin-left: 250px;
    
    h1 {
        padding: 1.5rem 2.5rem;
        background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }
}

.container2 {
    background: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @include transition(margin-left);
    margin-left: 60px;

    h1 {
        padding: 1.5rem 2.5rem;
        background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }
}