@import "../commons.scss";

.table {
    width: 100%;
    border-collapse: collapse;
    td, th {
        padding: 10px;
    }
    &_caption {
        color: black;
        letter-spacing: 5px;
        font-size: 22px;
    }
    &_head {
        border-bottom: 2px solid $primary;
        @include screen_sm {
            display: none;
        }
    }
    &_heading{
        color: black;
        font-size: 18px;
        letter-spacing: 5px;
        text-align: left;
    }
    &_row {
        height: 65px;
        &:hover {
            animation-duration: 0.4s;
            background-color: $secondary;   
        }
        @include screen_sm {
            &:nth-of-type(even) {
                background: rgb(233, 233, 233);
            }
            &:hover {
                animation-duration: 0.4s;
                background-color: $secondary;
            }
        }
    }
    &_cell {
        font-size: 16px;
        letter-spacing: 3px;
        border-bottom: 1px solid $primary;
        color: black;
        .label {
            display: none;
        }

        @include screen_sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: right;
            
            .label{
                color: black;
                font-size: 20px;
                letter-spacing: 5px;
                text-align: left;
                display: block;
            }
        }
    }
}

.btn_kill {
    border: none;
    height: 35px;
    width: 35px;
    background: none;
    align-items: center;
}

.btn_kill_icon {
    height: 30px;
    width: 30px;
    @include screen_sm {
        height: 25px;
        width: 25px;
    }
}